@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



#aboutMe{
    margin-top: 100px;
    align-items: center;
    text-align: center;
}

#artikel{
    padding: 20px;
    margin-top: 50px;
}
body{
    font-family: 'poppins', sans-serif;
    margin:0;
    background-color: #F8F8FF;
}

.buchtitel:nth-child(odd) .column-left {
     order: 1; 
}

.buchtitel:nth-child(odd) .column-right {
     order: 2; 
} 

.buchtitel:nth-child(even) .column-left {
    order: 2; 
} 
        
.buchtitel:nth-child(even) .column-right {
    order: 1; 
}

button{
margin-top: 10px;
padding: 10px 20px;
border: none;
background-color: #52757F;
cursor: pointer;
color: white;
}
.challenge-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

#challenge1 img, #challenge2 img, #challenge3 img{
    width: 40%;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#challenge1 img:hover, #challenge2 img:hover, #challenge3 img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.clarissaBild{
    max-width: 30%;
    height: auto;
    margin:0 auto;
    display: block;
    position: static;
    left:0;
    transform: none;
    border-radius: 50%;
}


.column-left, .column-right{
    flex: 1;
    margin: 10px;
}

.column-left{
    position: relative;
    overflow: hidden;
}

.column-right {
    align-items: center;
}


img{
    max-width: 100%;
    height: auto;
}

footer{
    margin-top: 200px;
    border: none;
    text-align: center;
    background-color: #52757F;
    color:white;
    padding: 1px;
}

head{
    font-family: 'poppins', sans-serif;
}

header{
    background-color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#Kommentare{
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

main, section {
    display: flex;
    flex-direction: column;
    align-items: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.meermaedchenContainer,
.bergmaedchenContainer,
.lachenderMannContainer {
    position: relative;
    display: inline-block;
    width: 100%;
}

.meermaedchenBild,
.bergmaedchenBild,
.lachenderMannBild {
    max-width: 100%;
    height: auto;
    filter:brightness(30%);
}

.menu-icon {
    display: none;
}

.menu-icon img{
    width: 30px;
    height: auto;
    margin-left: 10px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    width: 50%;
}

nav ul li a{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-weight: lighter;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover, h2, h3, nav a.active{
    color: #52757F;
}

.quote{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

.row{
    display: flex;
}


section{
    margin-bottom: 100px;
}

#subtextChallenges, #maincontentChallenges, #vision, #kontakt, #buecher, #kommentare {
    margin: 20px;
}

.textMeermaedchenBild,
.bergmaedchenText{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: lighter;
    white-space: nowrap;
}


#zitat, #subtextStartseite,#mainContentStartseite, #subtextChallenges, #mainContentChallenges {
    align-items: center;
    justify-content: center;
    margin: 20px;
}


/* Media Queries für verschiedene Bildschirmgrößen*/
@media (max-width: 768px){

    .challenges h2{
        margin: 20px;
    }

    .column-left{
        max-width: 100%;
        min-width: 80%;
    }
    .meermaedchenBild{
        object-fit: cover;
        width: 100%;
        height: 100vh;
    }

    .buchtitel:nth-child(odd) .column-left, .buchtitel:nth-child(odd) .column-right,
    .buchtitel:nth-child(even) .column-left, .buchtitel:nth-child(even) .column-right {
        order: unset; /* Entfernt die Reihenfolge */
    }



   .challenge-container{
        flex-direction: column;
        margin-bottom: 20px
    }

    #challenge1 img, #challenge2 img, #challenge3 img{
        width: 80%;
        display: block;
        margin: 0 auto;
        text-align: center;
        height: auto;
        margin-bottom: 10px;
    }

    #challenge1 p, #challenge2 p, #challenge3 p{
        margin: 0px;
        text-align: center;
        margin-top: 10px;
    }

    

    .bergmaedchenBild{
        object-fit: cover;
        width: 100%;
        height: 100vh;
    }

    .menu-icon {
        display:block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: flex-start;
        align-items: center;
        top: 0;
        left: 0;
        text-align: center;
    }

    .nav-links li {
        margin: 20px 0;
    }

    .nav-links.show {
        display: flex;
    }

    .textMeermaedchenBild,
    .bergmaedchenText{
        font-size: 1em !important;
        white-space: normal;
    }
}

.main{
    align-items: center;
    place-items: center;
}

@media (max-width: 480px){
    .challenges h2, h3{
        padding: 20px;;
        margin: 20px;
        font-size: 1em;
        text-align: center;
    }

    .challenges p{
        font-size: 0.8em;
        padding: 20px;;
        margin: 20px;
        text-align: center;
    }

    .column-left{
        max-width: 100%;
        min-width: 80%;
    }

    .textMeermaedchenBild h1,
    .bergmaedchenText, h2{
        white-space: normal;
        font-size: 1.2em;
    }

    textarea{
    max-width: 100%;
    min-width: 120px;
    height: 120px;
    }

}
