@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

head{
    font-family: 'poppins', sans-serif;
}

header{
    background-color: white;
    padding: 10px 0;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 1000;
}

body{
    font-family: 'poppins', sans-serif;
    margin:0;
    background-color: #F8F8FF

    ;
}

.quote{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

main {
    display: flex;
    flex-direction: column;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    width: 50%;

}

nav a.active{
    color: #52757F;
}

nav ul li a{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-weight: lighter;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;

}

nav ul li a:hover{
    color: #52757F;
}

h2{
    color: #52757F;
}

h3{
    color: #696969;
}

.textMeermaedchenBild,
.bergmaedchenText{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: lighter;
}


.clarissaBild{
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.meermaedchenContainer,
.bergmaedchenContainer,
.lachenderMannContainer {
    position: relative;
    display: inline-block;
    width: 100%;
}

.meermaedchenBild,
.bergmaedchenBild,
.lachenderMannBild {
    max-width: 100%;
    height: auto;
    filter:brightness(30%);
}

section{
    margin-bottom: 100px;
}

footer{
    margin-top: 200px;
    border: none;
    text-align: center;
    background-color: #52757F;
    color:white;
    padding: 1px;

}

.menu-icon {
    display: none;
}

.menu-icon img{
    width: 30px;
    height: auto;
}

/* Media Queries für verschiedene Bildschirmgrößen*/
@media (max-width: 768px){
    .menu-icon {
        display:block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links.show {
        display: flex;
    }
}

